.ProfileWrapper{
    width: 100vw;
    height: auto;
}

/* PROFILE INFO */

.ProfileInfo{
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ef473a, #cb2d3e); 
}


.ProfileInfo > div{
    margin: 0 2rem;
}

.Left{
    margin-left: 10vw !important;
}

.DP{
    width: 140px;
    height: 140px;
    margin: 10px 0;
    align-self: center;
    position: relative;
}


.DP > img{
    width: 100%;
    height: 100%;
    clip-path: circle();
}

.Name{
    font-size: 1.3rem;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    align-self: center;
}

.Email{
    display: flex;
    width: 100%;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: monospace, 'Courier New', Courier, monospace;
}

.Bio{
    width: 70%;
    font-size: 1rem;
    font-family: 'Monsterrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0;
}

.Bio > span{
    font-size: 1.5rem;
    display: inline-block;
    margin: 2px 0;
    font-family: monospace;
}

.Socials{
    padding: 0.4rem 0.8rem;
    margin: 5px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 6px;
    color: #000;
}

.Socials > h6{
    font-size: initial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Socials *{
    margin: 0 2.5px;
    font-size: 1.3rem;
    cursor: pointer;
}

/* PROFILE CONTENT */

.ProfileContent{
    width: 95%;
    height: auto;
    min-height: 88vh;
    padding: 0.4rem;
    margin: 0 auto;
}


.Heading{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    /* background: blue; */
    padding: 3px 1rem;
    margin: 10px 0;
    margin-bottom: 0;
}

.Heading > h2{
    flex-grow: 1;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}


/* ------------------------------------- */
/* MEDIA QUESRIES */
/* ------------------------------------- */

@media screen and (max-width: 2500px){
    .Name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px){
    .ProfileWrapper{
        flex-direction: column;
        height: auto;
    }
    .ProfileInfo{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 0.5rem 1.5rem;
        align-items: center;
    }
    .Right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .Bio {
        text-align: justify;
    }
    .Socials { width: 75%; }
}


