.ProfileWrapper{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
    background: #000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.ProfileInfo{
    width: 30%;
    height: 88vh;
    position: sticky;
    top: 0vh;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    background: linear-gradient(rgb(121, 179, 226), rgb(7, 14, 109));
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
}

.DP{
    width: 180px;
    height: 180px;
    margin: 10px 0;
    border-radius: 8px;
}

.Name{
    font-size: 1.3rem;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.Bio{
    font-size: 0.8rem;
    font-family: 'Monsterrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px 2rem;
    margin-left: 0;
}

.Bio > span{
    font-size: 1.2rem;
    display: inline-block;
    margin: 2px 0;
}

.Likes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px;
    margin: 10px 0;
    width: 70%;
    color: #000;
    background: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: 'Monsterrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.Socials *{
    margin: 0 2.5px;
    font-size: 1.65rem;
    cursor: pointer;
}

.Likes *{ margin: 0 2px; }

@media screen and (max-width: 768px){
    .ProfileInfo{
        width: 100%;
        height: auto;
        clip-path: none;
        align-items: center;
    }
    .Bio{
        margin: 5px 2rem;
    }
    .Bio > span { display: none; }
    .Socials{ margin-bottom: 15px; }
    .Socials *{ font-size: 1.3rem; }
}

