.Masonry{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin:0;
}

.MasonryColumn{
    width: 32%;
    height: auto;
    padding: 5px;
    margin: 0 0.5%;
}

.NoImgs{
    margin-top: 2rem;
    widows: 100%;
    text-align: center;
    font-family: 'Monsterrat', 'Courier New', Courier, monospace;
}

@media screen and (max-width: 800px){
    .Masonry{
        display: block;
    }
    .MasonryColumn { 
        width: 100%;
        margin-bottom: -5px;
    }
}