.MasonryItem{
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    cursor: pointer;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 1px 1px 8px -4px rgb(0,0,0);
    transition: all 0.1s ease-out;
    background: rgb(255, 255, 255);
}

.MasonryItem:hover{
    box-shadow: 1px 1px 8px rgb(39, 39, 39);
    /* transform: translateY(-2px); */
}

.MasonryItem > img{
    width: 100%;
    margin: 3px 0;
}

.Info{
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    margin-top: -5px;
    border-radius: 0 0 4px 4px;
}

.Info *{ margin: 0 3px; }

.Info > h5{
    flex-grow: 1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.DP{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.ImgActions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.ImgActions > h3{
    flex-grow: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Delete{
    padding: 7px 5px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    background: rgb(248, 23, 23);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.Delete:hover{
    background: rgb(206, 28, 28);
}

.Tag{
    display: inline-block;
    padding: 3px 7px;
    background: rgb(93, 206, 235);
    font-size: 0.85rem;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4px;
    margin: 3px 5px;
    font-weight: 600;
}

.PrivateTag{
    background: rgb(10, 10, 95);
    color: #fff;
    letter-spacing: 2px;
}

@media screen and (max-width: 800px){
    .MasonryItem{
        width: 100%;
    }
}